body {
    font-family: 'Alatsi', sans-serif;
    background-color: #E4DBCA;
    color: rgb(54, 52, 52);
}

ul#playlist {
	border: 1px solid ;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-top: 10px;
	padding: 0px;
	list-style-type: none;
}

ul#playlist li {
	border-bottom: 1px solid rgb(#F29200);
	padding: 10px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(241, 161, 41)), to(rgb(243, 170, 61)));
    background-image: -moz-linear-gradient(rgb(240, 160, 41), rgb(243, 170, 61));
    background-image: -ms-linear-gradient(#F29200), rgb(243, 170, 61));
    background-image: -o-linear-gradient(#F29200), rgb(243, 170, 61));
    background-image: -webkit-linear-gradient(#F29200), rgb(243, 170, 61));
    background-image: linear-gradient(rgb(#F29200), rgb(243, 170, 61));
}

ul#playlist li:last-child {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom: none;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
ul#playlist li:first-child {
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

